History
*.IntLib\
*.SchDocPreview
*.PcbDocPreview
*.tmp
*.TMP
*.zip
*.rar
*.o
*.d
*.crf
*Preview
*.Annotation
*.LOG
*viewstate
*.htm
*.PrjPCBStructure
*.wmf
*.uvoptx
*.uvprojx
*.dionn
*.ini
*.lst
*.axf
*.elf
*.hex
*.dep
*.map
*.lnp
*.sct
*.dbgconf
*.vscode
