History
*.IntLib\
*.SchDocPreview
*.PcbDocPreview
*.tmp
*.TMP
*.zip
*.rar
*.o
*.d
*.crf
*Preview
*.Annotation
*.LOG
*viewstate
*.htm
*.PrjPCBStructure
*.wmf
*.uvoptx
*.uvprojx
*.dionn
*.ini
*.lst
*.axf
*.hex
*.dep
*.map
*.lnp
*.sct
*.dbgconf
Modules/Src/modOperationalState.c
Modules/Src/modPowerElectronics.c
Modules/Inc/modOperationalState.h
Modules/Inc/modPowerElectronics.h
Drivers/SWDrivers/Src/driverSWLTC6804.c
Drivers/SWDrivers/Inc/driverSWLTC6804.h
Drivers/HWDrivers/Src/driverHWADC.c
Drivers/HWDrivers/Inc/driverHWADC.h
Drivers/HWDrivers/Src/driverHWSwitches.c
Drivers/HWDrivers/Inc/driverHWSwitches.h